@use '../abstracts/_abstracts-dir' as *;

* {
    padding : 0;
    margin : 0;
}

body {
    background-color: $dark-gray;
}

/*
    Scrollbar
*/
::-webkit-scrollbar {
    width : 10px !important;
}

::-webkit-scrollbar-track {
    background : $gray;
    border-radius : 15px;
}

::-webkit-scrollbar-thumb {
    background : rgba($color: #FFFFFF, $alpha: .6);
    border-radius : 15px;

    &:hover {
        background : rgba($color: #FFFFFF, $alpha: .8);
    }
}

/*
    Selection
*/

::selection {
    color : rgba($color: $white, $alpha: .6);
    background : rgba($color: $blue, $alpha: .45);
}